table {
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
    max-width: 1440px;
    font-family: "Comic Sans MS";
}

canvas {
    width: 100%;
}

tr, td {
    border-width: 2px;
    border-style: solid;
}

#normalview {
}

#altview {
}

.narrow {
    width: 30%;
}

.header {
    text-align: center;
    height: 100%;
    border-bottom-width: 3px;
    border-style: solid;
}

.img_fit {
    max-width: 100%;
    height: auto;
}

.text-addinfo {
    font-size: 16px;
}

.text-values {
    font-size: 56px;
}

#status {

}

#chart {
    height: 200px;
}

.text-center {
    text-align: center;
}

.text-silent {
    color: #cfcdcd;
}